*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 100%;
}

.wrapper h1{
	padding: 20px 20px 15px;
	font-family: arial;
	font-size: 50px;
	text-align: center;
	color: darkgray;
	line-height: 44px;
}

.wrapper h2{
	padding: 20px 20px 15px;
	font-family: arial;
	font-size: 40px;
	text-align: center;
	color: darkgray;
	font-align: center;
	line-height: 38px;
}

.wrapper h3{
	padding: 20px 20px 15px;
	font-family: arial;
	font-size: 20px;
	text-align: center;
	color: #111;
	line-height: 35px;
}

.wrapper p{
	padding: 0px 20px 15px;
	font-family: arial;
	font-size: 18px;
	text-align: justify;
	color: #111;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
}

.img-lapide img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-lapide{
	text-align: justify;
	width: 301px;
}

.img-stazione img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
	
